<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
   <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">person</i>
        <%= f.text_field :name, autocomplete: "name", class: 'mdc-text-field__input' %>
        <span class="mdc-floating-label" id="my-label-id">Name</span>
        <div class="mdc-line-ripple"></div>
    </label>
  </div>
  <br />
  <div class="field">
   <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">email</i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mdc-text-field__input' %>
        <span class="mdc-floating-label" id="my-label-id">Email</span>
        <div class="mdc-line-ripple"></div>
    </label>
  </div>
  <br />
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">vpn_key</i>
        <%= f.password_field :password, autocomplete: "new-password", class: 'mdc-text-field__input' %> 
        <span class="mdc-floating-label" id="my-label-id">Password</span>
        <div class="mdc-line-ripple"></div>
    </label>
  </div>
  <br />
  <div class="field">
    <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">vpn_key</i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mdc-text-field__input' %>
        <span class="mdc-floating-label" id="my-label-id">Password confirmation</span>
        <div class="mdc-line-ripple"></div>
    </label>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Sign up", class: 'mdc-button mdc-button--raised' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= javascript_pack_tag 'form' %>