<tr class="mdc-data-table__row">
    <td class="mdc-data-table__cell">
        <%= image_tag client.avatar, class: 'avatar' %>  
    </td>
    <td class="mdc-data-table__cell">
        <%= client.name %> 
    </td>
    <td class="mdc-data-table__cell">
        <%= link_to 'loupe', client_path(client), class: 'mdc-icon-button material-icons' %> 
        <%= link_to 'edit', edit_client_path(client), class: 'mdc-icon-button material-icons' %> 
        <%= link_to 'delete',  client, method: :delete, data: { confirm: 'sure?' }, class: 'mdc-icon-button material-icons' %> 
    </td>
</tr>

    
    