<%= form_for @client, builder: CustomFormBuilder, html: {class: 'form-client' }  do |f| %>
    <%= f.alert_error %>
    <br />
    <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">recent_actors</i>
        <%= f.number_field :identification, class: 'mdc-text-field__input' %> 
        <span class="mdc-floating-label" id="my-label-id">Identification</span>
        <div class="mdc-line-ripple"></div>
    </label>
    <br /> <br />
    <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">person</i>
         <%= f.text_field :name, class: 'mdc-text-field__input',
         'aria-labelledby': 'my-label-id',
         'aria-controls': 'my-helper-id',
         'aria-describedby': 'my-helper-id',
         required: true %>
        <span class="mdc-floating-label" id="my-label-id">Name</span>
        <div class="mdc-line-ripple"></div>
    </label>
    <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">Name is required</div>
    </div>
    <%= f.field_error :name%>
    <br />
    <label class="mdc-text-field mdc-text-field--with-leading-icon">
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">event</i>
         <%= f.date_field  :birthdate, class: 'mdc-text-field__input' %>
        <span class="mdc-floating-label" id="my-label-id">Birthdate</span>
        <div class="mdc-line-ripple"></div>
    </label>
    <br /> <br />
    <div class="select">
        <%= f.collection_select :gender_id, Gender.all, :id.to_s, :name, {}, { class: 'custom-select' }%>
    </div>
    <br /> 
    <div class="select">
        <%= f.collection_select :identificationType_id, IdentificationType.all, :id.to_s, :name, 
        {}, { class: 'custom-select' } %>
    </div>
    <br /> 
    <div class="select">
        <%= f.collection_select :country_id, Country.all, :id.to_s, :name, {}, { class: 'custom-select' } %>
    </div>
    <br />
    <div class="select">
        <%= f.collection_select :department_id, Department.all, :id.to_s, :name, {}, { class: 'custom-select' } %>
    </div>
    <br />
    <div class="select">
        <%= f.collection_select :city_id, City.all, :id.to_s, :name, {}, { class: 'custom-select' } %>
    </div>
    <br />
    <%= f.file_field :avatar, class: 'inputfile', id: 'avatar', accept: 'image/*' %>
    <%= label_tag :avatar, 'Choose a file', class: 'mdc-button' do %>
            <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">photo</i>
            <i class="material-icons mdc-icon-button__icon">photo</i>
            <span class="mdc-button__ripple"></span> Choose a avatar
    <% end %>
    <br /> <br />
    <%= f.submit class: 'mdc-button mdc-button--raised' %>
<% end %> 

<%= javascript_pack_tag 'form' %>
<%= stylesheet_pack_tag 'form' %>