<h1>Pagina principal Crud</h1>
<p>Lista de clientes creados</p>
<%= form_tag clients_path, method: 'get' do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', name: nil %>
    <%= render @clients%>
    <%= paginate @clients %>
<% end %>
