<h1>Pagina principal Crud</h1>
<p>Lista de clientes creados</p>
<%= form_tag clients_path, method: 'get', id: 'clients_search' do %>
    <div id="pages">
        <%= paginate @clients, remote: true %> 
    </div>
    <%= label_tag :search, "Buscar: " %>
    <%= text_field_tag :search %>
<% end %>
<div id="clients">
    <%= render @clients, remote: true%>
</div>
<label class="mdc-text-field">
  <input type="text" class="mdc-text-field__input" aria-labelledby="my-label">
  <span class="mdc-floating-label" id="my-label">Label</span>
  <div class="mdc-line-ripple"></div>
</label>
<%= javascript_pack_tag 'pagination' %>