<h1>Pagina principal </h1>
<p>Lista de clientes nuevossds dksd k</p>
<%= form_tag clients_path, method: 'get', id: 'clients_search' do %>
    <div id="pages">
        <%= paginate @clients, remote: true %> 
    </div>
    <%= label_tag :search, "Buscar: " %>
    <%= text_field_tag :search, nil, placeholder: "Nombre" %>

<% end %>
<div id="clients">
    <%= render @clients, remote: true%>
</div>
<button class="mdc-button">
  <div class="mdc-button__ripple"></div>
  <span class="mdc-button__label">Button</span>
</button>
<%= javascript_pack_tag 'pagination' %>