<!DOCTYPE html>
<html>
  <head>
    <title>Crud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= javascript_pack_tag 'hello_svelte' %>
  </head>
<body>
  <div class="mdc-drawer-scrim"></div>
  <div class="mdc-drawer-app-content">
    <%= render 'layouts/navBar' %>
    <div class="mdc-drawer-scrim"></div>
    <main class="main-content" id="main-content">
      <div class="mdc-top-app-bar--fixed-adjust content-crud">
        <%= yield %>
      </div>
    </main>
  </div>
  <p class="notice"> 
    <%= notice %>
  </p>
  <p class="alert"><%= alert %></p>
  <%= javascript_pack_tag 'controlNav' %>
</body>
</html>
